body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(rgb(71, 68, 68), rgb(7, 7, 7));
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

h2 {
    text-align: center;
    position: absolute;
    top: 10px;
    color: white;
    text-shadow: 2px 2px 3px yellow;
}

.container {
    position: relative;
    transform-style: preserve-3d;
    right: 12%;
    bottom: 10%;
}

.crossbar1 {
    position: absolute;
    top: -185px;
    left: -53px;
    width: 370px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: skewX(40deg) skewY(-15deg) rotateX(50deg);
}

.crossbar2 {
    position: absolute;
    top: -109px;
    left: 22px;
    width: 370px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: skewX(40deg) skewY(-15deg) rotateX(50deg);
    z-index: 5;
}

.barbell-1 {
    position: absolute;
    top: -40px;
    left: -100px;
    width: 200px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: rotateZ(85deg);
}

.barbell-2 {
    position: absolute;
    bottom: -48px;
    left: -25px;
    width: 200px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: rotateZ(85deg);
    z-index: 3;
}

.barbell-3 {
    position: absolute;
    top: -131px;
    left: 178px;
    width: 200px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: rotateZ(87deg);
}

.barbell-4 {
    position: absolute;
    bottom: 47px;
    left: 252px;
    width: 200px;
    height: 10px;
    background-image: url(./image/tree.avif);
    transform: rotateZ(88deg);
    z-index: 3;
}

.platform {
    width: 370px;
    height: 100px;
    background-image: url(./image/tree.avif);
    transform: skewX(40deg) skewY(-15deg) rotateX(20deg);
    position: absolute;
}

.platform::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: -10px;
    transform: skewX(-45deg);
    width: 370px;
    height: 20px;
    background-image: url(./image/tree.avif);
    filter: brightness(0.8);
    border-bottom: 2px solid black;
}

.platform::before {
    content: "";
    position: absolute;
    left: -20px;
    bottom: -10px;
    width: 20px;
    height: 100px;
    transform: skewY(-45deg);
    background-image: url(./image/tree.avif);
    filter: brightness(0.9);
    border-left: 2px solid black;
}

.ball {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 2;
}

.ball img {
    width: 100%;
    height: 100%;
    max-width: 100%;
}

.ball-container .ball:nth-child(1) {
    position: absolute;
    top: 30px;
    left: 54px;
}

.ball-container .ball:nth-child(2) {
    position: absolute;
    top: 15px;
    left: 102px;
}

.ball-container .ball:nth-child(3) {
    position: absolute;
    top: 0;
    left: 150px;
}

.ball-container .ball:nth-child(4) {
    position: absolute;
    top: -15px;
    left: 198px;
}

.ball-container .ball:nth-child(5) {
    position: absolute;
    top: -30px;
    left: 246px;
}

@keyframes ball-1 {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(-100px) translateY(1px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

@keyframes ball-2 {
    0% {
        transform: translateX(0) translateY(0);
    }

    50% {
        transform: translateX(100px) translateY(-40px);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}

.emblema p {
    position: absolute;
    top: 70%;
    left: 43%;
    font-size: 24px;
    font-weight: 800;
    transform: rotateX(48deg);
    z-index: 4;
}

.emblema2 p {
    position: absolute;
    top: 78%;
    left: 10%;
    font-size: 20px;
    font-weight: 800;
    transform: rotateX(48deg);
    z-index: 4;
}

.thread-top1 {
    position: absolute;
    bottom: 52px;
    left: -35px;
    width: 185px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(79deg);
    z-index: 2;
}

@keyframes thread-top1 {
    0% {}

    50% {
        transform: rotateZ(108deg) translateX(8px) translateY(42px);
    }

    100% {}
}

.thread-top2 {
    position: absolute;
    bottom: 70px;
    left: 14px;
    width: 185px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(79deg);
    z-index: 2;
}

.thread-top3 {
    position: absolute;
    bottom: 87px;
    left: 62px;
    width: 185px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(79deg);
    z-index: 2;
}

.thread-top4 {
    position: absolute;
    bottom: 102px;
    left: 110px;
    width: 185px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(79deg);
    z-index: 2;
}

.thread-top5 {
    position: absolute;
    bottom: 120px;
    left: 156px;
    width: 185px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(79deg);
    z-index: 2;
}

@keyframes thread-top5 {
    0% {}

    50% {
        transform: rotateZ(49deg) translateX(14px) translateY(-43px);
    }

    100% {}
}

.thread-bottom1 {
    position: absolute;
    bottom: 18px;
    left: 20px;
    width: 155px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(110deg) rotateY(45deg);
}

@keyframes thread-bott1 {
    0% {}

    50% {
        transform: rotateZ(141deg) translateX(38px) translateY(30px);
    }

    100% {}
}

.thread-bottom2 {
    position: absolute;
    bottom: 35px;
    left: 68px;
    width: 155px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(110deg) rotateY(45deg);
    z-index: 2;
}

.thread-bottom3 {
    position: absolute;
    bottom: 49px;
    left: 115px;
    width: 155px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(110deg) rotateY(45deg);
    z-index: 2;
}

.thread-bottom4 {
    position: absolute;
    bottom: 66px;
    left: 163px;
    width: 155px;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transform: rotateZ(110deg) rotateY(45deg);
    z-index: 2;
}

.thread-bottom5 {
    position: absolute;
    bottom: 82px;
    left: 209px;
    width: 155px;
    height: 1px;
    background-color: rgb(254, 254, 254);
    transform: rotateZ(110deg) rotateY(45deg);
    z-index: 2;
}

@keyframes thread-bott5 {
    0% {}

    50% {
        transform: rotateZ(56deg) rotateY(45deg) translateX(30px) translateY(-47px);
    }

    100% {}
}